body{
    background-color: rgba(102, 255, 51,0.4);
}
.grid-container{
    display: grid;
    grid-template-areas: 'header header header header'
                        'left right right right'
                        'footer footer footer footer';
}

.grid-header{
    grid-area: header;
}
.grid-left{
    grid-area:left;
}
.grid-right{
    grid-area: right;
}
.grid-footer{
    grid-area: footer;
}