body{
    background-color: rgba(102, 255, 51,0.4);
}
.grid-container{
    display: grid;
    grid-template-areas: 'header header header header'
                        'left right right right'
                        'footer footer footer footer';
    grid-gap: 15px;
}

.grid-header{
    grid-area: header;
    background-color: rgba(177,255,0,1);
    text-align: left;
}
li{
    display: inline-block;
    margin-right: 20px;
}
.grid-left{
    grid-area:left;
    background-color: rgba(177,255,0,1);
    text-align: center;
}
.grid-right{
    grid-area: right;
    background-color: rgba(177,255,0,1);
    text-align: center;
}
.grid-footer{
    grid-area: footer;
    background-color: rgba(177,255,0,1);
    text-align: center;
}